﻿@model WebBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Product";
}

<h2 class="text-center">Add Product</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Product Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">Category</label>
                            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label">Product Image</label>
                            <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" onchange="previewImage(event)" />
                            <img id="preview" src="#" alt="Product Image" style="max-width: 200px; display: none;" class="mt-2" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Add</button>
                        <a class="btn btn-warning btn-block" asp-action="Index">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Xem trước hình ảnh khi người dùng chọn tệp
        function previewImage(event) {
            var preview = document.getElementById('preview');
            preview.style.display = 'block';
            preview.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}
