﻿@model WebBanHang.Models.Product

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@Model.Name</h2>
                    <div>
                        <h3>Price: @Model.Price</h3>
                        <p>@Model.Description</p>
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="@Model.ImageUrl" alt="Product Image" class="img-fluid mb-3" style="max-width: 200px;" />
                        }
                    </div>
                    <a class="btn btn-danger" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
