﻿IEnumerable<WebBanHang.Models.Product>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">PRODUCTS</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <a class="btn btn-success mr-2" asp-action="Add">Add Product</a>
                            <a class="btn btn-success" asp-controller="Category" asp-action="Index">Category</a>
                        </div>
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                                        <div class="card-body">
                                            <h5 class="card-title">@product.Name</h5>
                                            <p class="card-text">Price: @product.Price</p>
                                            <p class="card-text">Description: @product.Description</p>
                                            <p class="card-text">Category: @product.Category?.Name</p>
                                        </div>
                                        <div class="card-footer bg-light">
                                            <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                                                <input type="hidden" name="productId" value="@product.Id" />
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" name="quantity" value="1" min="1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="submit">
                                                            <span>Add to Cart</span>
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="text-center">
                                                <a class="btn btn-warning btn-sm" asp-action="Display" asp-route-id="@product.Id">View</a>
                                                <a class="btn btn-success btn-sm" asp-action="Update" asp-route-id="@product.Id">Edit</a>
                                                <button class="btn btn-danger btn-sm" onclick="confirmDelete('@product.Id', '@product.Name')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                </div>
                <div class="modal-body">
                    <p id="deleteMessage"></p>
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide')">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            function confirmDelete(productId, productName) {
                var deleteMessage = document.getElementById('deleteMessage');
                deleteMessage.innerHTML = "Are you sure you want to delete " + productName + "?";
                var deleteForm = document.getElementById('deleteForm');
                deleteForm.action = '/Product/Delete/' + productId;
                $('#deleteModal').modal('show');
            }
        </script>
    }
