﻿@model WebBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data" class="mt-4">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold">Product Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="font-weight-bold">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="font-weight-bold">Description</label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="font-weight-bold">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option value="">-- Select Category --</option>
        </select>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Product Image</label>
        <div class="custom-file">
            <input type="file" asp-for="ImageUrl" class="custom-file-input" id="imageInput">
            <label class="custom-file-label" for="imageInput">Choose file</label>
        </div>
        <img id="previewImage" src="@Model.ImageUrl" alt="Product Image" class="img-thumbnail mt-2" style="max-width: 200px; display:none;" alt="Image preview" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-warning" asp-action="Index">Back</a>
</form>

@section Scripts {
    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            var output = document.getElementById('previewImage');
            var fileName = this.files[0].name;
            document.querySelector('.custom-file-label').innerText = fileName;
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                    output.style.display = 'block';
                };
                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
}
