﻿
@model WebBanHang.Models.Category

<h2>@Model.Name</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @if (Model.Products != null)
    {
        @foreach (var product in Model.Products)
        {

            <!-- Sản phẩm -->
            <div class="col">
                <div class="card">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image" style="max-width:200px;">
                    <div class="card-body">
                        <h5 class="card-title">Name: <strong>@product.Name</strong></h5>
                        <p class="card-text">Des: <strong>@product.Description</strong></p>
                        <p class="card-text">Price: <strong>@product.Price</strong></p>
                        <p class="card-text">Cate: <strong>@(product.Category?.Name ?? "No Category")</strong></p>

                        <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-warning">View</a>
                        |
                        <a asp-controller="product" asp-action="update" asp-route-id="@product.Id" class="btn btn-success">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
                   
    }
</div>


<a asp-action="Index" class="btn btn-info mt-5">Back to List</a>

