﻿@model Order

<h2>Checkout</h2>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Address</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>
        <textarea asp-for="Notes" class="form-control"></textarea>
    </div>

    <!-- Thêm các trường ẩn để gửi dữ liệu của model Order -->
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="OrderDate" />
    <input type="hidden" asp-for="TotalPrice" />
    <!-- Thêm các trường ẩn để gửi dữ liệu của model Order -->

    <button type="submit" class="btn btn-primary">Place Order</button>
</form>