﻿@model ShoppingCart

<div class="container bg-white" style="padding: 20px;">
    <div class="row">
        <div class="col-md-8">
            <h2>Your Cart</h2>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Content(item.ImageUrl)" class="img-thumbnail" alt="@item.Name" style="width: 100px; height: 100px;">

                                    <span>@item.Name</span>
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@(item.Price * item.Quantity)</td>
                                <td>
                                    <a href="@Url.Action("RemoveFromCart", "ShoppingCart", new { productId = item.ProductId })" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Remove
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-info text-white p-3">
                <h4>Order Summary</h4>
                <p>Total Items: @Model.Items.Sum(item => item.Quantity)</p>
                <p>Total Price: @(Model.Items.Sum(item => item.Price * item.Quantity))</p>
                <div class="text-center">
                    <a href="@Url.Action("Checkout", "ShoppingCart")" class="btn btn-primary btn-block mt-3">Proceed to Checkout</a>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-secondary btn-block mt-3">Back to Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
