﻿@model List<WebBanHang.Models.OrderDetail>

<h1>Order Details</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                @* <th>Total</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var orderDetail in Model)
            {
                <tr>
                    <td>@orderDetail.Product.Name</td>
                    <td>@orderDetail.Quantity</td>
                    <td>@orderDetail.Price.ToString("C")</td>
                    @* <td>@(orderDetail.Price * orderDetail.Quantity).ToString("C")</td> *@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No order details found.</p>
}
