﻿@model WebBanHang.Models.Order

<h2>Order Completed</h2>
<p>Your order with ID @Model.Id has been placed successfully.</p>

<div>
    <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Back to Products</a>
</div>