﻿@model IEnumerable<WebBanHang.Models.Order>

<h2>List of Orders</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Order Date</th>
                <th>Total Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.UserId</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalPrice</td>
                    <td>
                        <a href="@Url.Action("OrderDetails", "ShoppingCart", new { orderId = order.Id })">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}